@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e4e3e8;
    padding: 0.375rem;
    font-family: Poppins, sans-serif;
    position: relative;
}

nav {
    position: fixed;
    height: calc(100vh - 0.75rem);
    background-color: #ffffff;
    padding: 1rem 0.75rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    height: 50px;
    width: calc(100%);
}

a {
    display: flex;
    justify-content: center;
    margin: 0px 0px 15px 0px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #e4e4e8;
}

main {
    margin-left: 10rem;
    height: calc(100vh);
}

iframe {
    margin: 0px 0px 0px 0px;
    width: 100%;
    /* Ancho del iframe al 100% */
    height: calc(100vh - 1.75rem);
    /* Altura del iframe ocupando el espacio disponible */
}